{% extends "base.html" %}


{% block title %}تسجيل الدخول{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <a href="{{url_for('home.home')}}" class="p-2 bg-white hover:bg-gray-300 rounded-lg duration-200">
            <i class="fas fa-arrow-right"></i>
            عودة    
        </a>
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
            <i class="fas fa-user-circle"></i> تسجيل الدخول
        </h2>
        <form method="POST" action="{{ url_for('login.login') }}" class="space-y-4">
            {{ form.hidden_tag() }}
            <div>
                <label for="username" class="block text-sm font-medium text-gray-700">
                    <i class="fas fa-user"></i> البريد الالكتروني
                </label>    
                {{ form.email(class="mt-1 block text-slate-900 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500 duration-300") }}
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700">
                    <i class="fas fa-lock"></i> كلمة المرور
                </label>
                {{ form.password(class="mt-1 block text-slate-900 w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500 duration-300") }}
            </div>
            <div class="flex items-center">
                {{ form.remember(class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded duration-300") }}
                <label for="remember" class="mr-2 block text-sm text-gray-700">
                    تذكرني
                </label>
            </div>
            <div>
                {{ form.submit(class="w-full p-2 bg-orange-400 text-black font-semibold hover:bg-orange-500  rounded-md duration-200 transition-colors cursor-pointer") }}
            </div>
        </form>
        <p class="text-sm text-center text-gray-600 mt-4">
            ليس لديك حساب؟ <a href="{{ url_for('register.register') }}" class="text-orange-500 hover:underline duration-300">إنشاء حساب</a>
        </p>
    </div>
</div>
{% endblock %}
